@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    @System.Diagnostics.Process.GetCurrentProcess().ProcessName

    @{ 
        for (int i = 1; i <= 6; i++)
        {
            @Html.Raw($"<h{i}>Başlık {i}</h{i}>")
        }
    }


  

</div>
